.sitemap {
	position: absolute;
	left: 15vw;
}
.sitemap img {
	height: 8vh;
	width: 10vw;
	margin-top: -3vh;
}
#jojo img {
	height: 10vh;
	width: 10vw;
	position: absolute;
	z-index: 1;
	margin-left: 10vw;
}


.stampContainer {
	top: 90vh;
	display: flex;
	gap: 0px;
	position: absolute;
	
}



#purin img, #guts img, #ds img{
	height: 10vh;
	width: 10vw;
	position: absolute;
	z-index: 1;
}


#intrests h1, #nav h1, #blog h1{
	color: #7476e8;
	text-align: center;
	font-size: 2.5rem;
	margin-top: 1vh;
}


.neon {
    text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #FDBEDD, 0 0 40px #FDBEDD, 0 0 80px #FDBEDD, 0 0 90px #FDBEDD, 0 0 100px #FDBEDD, 0 0 150px #FDBEDD;
}
#purin, #guts, #ds #jojo{
	position: relative;
	height: 10vh;
	width: 10vw;
}
#purin::after, #guts::after, #ds::after #jojo::after{
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	background: url('/images/scanlines.png') repeat;
	
	
	z-index: 3;
	top: 0;
	left: 0;

}
#skull2Bg {
	background-image: url("/images/bgSkull2.gif");
	background-repeat: repeat;
	width: 40vw;
	height: 40vh;
	position: absolute;
	right: 2vw;
	top: 35vh;
	border: 1vw groove #7476e8;
}

#blinkies {
	position: absolute;
	right: 2vw;
	top: 10vh;
	display: grid;
	grid-template-columns: 10vw 10vw 10vw 10vw;
}
#blinkies img {
	height: 5vh;
	width: 10vw;
}
@keyframes pop{
    from{
        transform:scale(0.95)
    }

    50%{
        transform:scale(1)
    }

    to{
        transform:scale(0.95)
    }
}
@keyframes moveIt {
  from {background-position: top;}
  to {background-position: bottom;}
}

#emoBg {
	background-image: url("/images/bgEmo.gif");
	background-repeat: repeat;
	position: absolute;
	top: 35vh;
	height: 100vh;
	width: 40vw;
	left: 2.5vw;
	border: 1vw groove #7476e8;
}

#skullBg {
	animation: moveIt 20s linear infinite;
	background-image: url("/images/bgSkull.gif");
	background-repeat: repeat;
	position: absolute;
	height: 100vh;
	width: 40vw;
	right: 2.5vw;
	margin-top: 85vh;
	border: 1vw groove #7476e8;
}

#wine {
	position: absolute;
	top: 10vh;

}

#name {
	animation: pop 1s ease-in-out infinite alternate;
	font-size: 4rem;
	color: #7476e8;
	position: absolute;
	left: 10vw;
	z-index: 2;
}

body{
	font-family: "VT323";
	background-color: black;

}

#domain {
	text-decoration: none;
	color: #7476e8;
	position: absolute;
	left: 20vw;
	top: 22vh;
	font-size: 1rem;
	z-index: 2;
}

