#container{
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  border: 5px solid blue;
  flex-direction: column;
}
body {
  font-family: Arial, sans-serif;
  background-color: #1e1e1e;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  margin-bottom: 50px;
}

#navContainer{
  position: fixed;
  top: 5%;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  box-sizing: border-box;
  z-index: 1000;
  border:5px solid red;
}
#navBar {
  width: 300px;
  padding: 10px 5%;
  text-align: center;
}

#navTable {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 16px;
}
#navTable li{
  display: inline;
  margin: 5px;
}
#navSocials {
  gap: 5px;
  width: 300px;
  height: 50px;
}

.topLogo {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  border: 5px solid yellow;
}
#logo{
  width: 450px;
  height: auto;
}
#socialIcon {
  width: 30px;
  height: auto;
}

#navSocials a {
  display: inline;
  text-decoration: none;
}

#navTable a {
  color: white;
  text-align: center;
  text-decoration: none;
}

h1 {
  margin-bottom: 15%;
}

#box-container {
  gap: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 5px solid green;
  max-height: 250px;
}
#songs-list {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 20px;
  width: 100%;
}
#songs-list > div {
  display: flex;
  align-items: center;
}
.song{
  padding: 10px;
  max-width: 150px;
  text-align: center;
  flex-direction: column;
}
.songImg{
  width: 150px;
  height: auto;
}
#imgContainer{
  width: 150px;
  padding: 20px;
}





@media (max-width: 768px) {
  .header {
    padding: 10px;
  }

  .topLogo {
    width: 100px;
  }

  #socialIcon {
    width: 25px;
    height: 25px;
  }

  #navTable a {
    font-size: 14px;
    padding: 8px;
  }
}
