

@keyframes rotateAnimation {

  0% {

    transform: rotateX(0deg) rotateY(0deg);

  }

  5% {

    transform: rotateX(5deg) rotateY(18deg);

  }

  10% {

    transform: rotateX(10deg) rotateY(36deg);

  }

  15% {

    transform: rotateX(15deg) rotateY(54deg);

  }

  20% {

    transform: rotateX(20deg) rotateY(72deg);

  }

  25% {

    transform: rotateX(25deg) rotateY(90deg);

  }

  30% {

    transform: rotateX(30deg) rotateY(108deg);

  }

  35% {

    transform: rotateX(35deg) rotateY(126deg);

  }

  40% {

    transform: rotateX(40deg) rotateY(144deg);

  }

  45% {

    transform: rotateX(45deg) rotateY(162deg); 

  }

  50% {

    transform: rotateX(50deg) rotateY(180deg); 

  }
  55% {

    transform: rotateX(45deg) rotateY(198deg); 

  }
  60% {

    transform: rotateX(40deg) rotateY(216deg); 

  }
  65% {

    transform: rotateX(35deg) rotateY(234deg); 

  }
  70% {

    transform: rotateX(30deg) rotateY(252deg);

  }
  75% {

    transform: rotateX(25deg) rotateY(270deg); 

  }
  80% {

    transform: rotateX(20deg) rotateY(288deg); 

  }
  85% {

    transform: rotateX(15deg) rotateY(306deg); 

  }
  90% {

    transform: rotateX(10deg) rotateY(324deg); 

  }
  95% {

    transform: rotateX(5deg) rotateY(342deg); 

  }
  100% {

    transform: rotateX(0deg) rotateY(360deg); 

  }


}



.alert{
  position: fixed;
  z-index: 10000;
  margin-top: 5%;
  width: 100%;
  height: 100%;
}
#innerAlert{
  width: 85%;
  height: 75%;
  background-color: #1e1e2e;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}
.closeAlert {
  margin-right: auto;
  font-weight: bold;
  font-size: 44px;
  cursor: pointer;
  width: 2.5%;
  padding: 25px;
}
#alertContentContainer{
  display: flex;
}
.alertImgContainer{
 width: 75%;
 margin-left: auto;
 margin-right: 5%;
 display: grid;
 grid-template-columns: auto auto;
 gap: 10px;
}

.alertTextContainer{
  width: 50%;
  margin-left: 5%;
}

#alertImage{
  width: 100%;
  height: auto;
}
#alertText1{
  display: flex;
  justify-content: left;
  font-size: 2.5vw;
  margin-top: 80%;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
}
#alertText2{
  display: flex;
  justify-content: left;
  font-size: 1.5vw;
  text-decoration: underline;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
}
body {
  background-color: #1e1e1e;
  color: white;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  margin-bottom: 50px;
  font-family: "Roboto";
}


#navContainer{
  position: fixed;
  top: 5%;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  box-sizing: border-box;
  z-index: 1000;
}
#navBar {
  width: 300px;
  padding: 10px 5%;
  text-align: center;
}

#navTable {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: "Roboto";
}
#navTable li{
  display: inline;
  margin: 5px;
}
#navSocials {
  gap: 5px;
  width: 300px;
  height: 50px;
  padding: 10px;
}

.topLogo {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  perspective: 1500px;
  overflow: hidden;
}
#logo, #logo2{
  width: 30%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
#logo2 {
  position: relative;
  animation: rotateAnimation 1.25s linear infinite;
  transform-style: preserve-3d;
  object-fit: cover;
  top: -150px;
}
#socialIcon {
  width: auto;
  height: auto;
}

#navSocials a {
  display: inline;
  text-decoration: none;
}

#navTable a {
  color: white;
  text-align: center;
  text-decoration: none;
}

#songs-list {
  display: grid;
  gap: 25px;
  grid-template-columns: auto auto auto auto;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.song{
  max-width: 250px;
  text-align: center;
  justify-content: center;
}
.songImg{
  width: 100%;
  height: auto;
  margin-top: 10px;
}







