.house {
	left: 40vw;
	top: 85vh;
	position: absolute;
	display: flex;
	z-index: 5;
	width: 25vw;
	height: 25vh;

}
.purpleplanet {
	display: flex;
	position: absolute;
	height: 12vh;
	width: 12vw;
	top: 67vh;
	right: 47vw;
	z-index: 5;
}




.dragon2 {
	display: flex;
	position: absolute;
	height: 15vh;
	width: 15vw;
	z-index: 5;
	top: 72vh;
	right: 27vw;
}


.thermal{
	display: flex;
	position: absolute;
	height: 15vh;
	width: 15vw;
	z-index: 5;
	top: 45vh;
	right: 47vw;

}


.sun {
	display: flex;
	position: absolute;
	height: 15vh;
	width: 15vw;
	z-index: 5;
	top: 35vh;
	right: 30vw;
	transform: rotate(-25deg);

}
.ufo {
	display: flex;
	position: absolute;
	height: 7vh;
	width: 7vw;
	z-index: 5;
	top: 10vh;
	left: 10vw;
}

.orb {
	display: flex;
	position: absolute;
	height: 10vh;
	width: 10vw;
	z-index: 5;
	top: 25vh;
	left: 10vw;
}
.supernova {
	display: flex;
	position: absolute;
	height: 10vh;
	width: 10vw;
	z-index: 5;
	top: 10vh;
	right:7vw;
}
.neptune {
	display: flex;
	position: absolute;
	height: 15vh;
	width: 15vw;
	z-index: 5;
	top: 10vh;
	left: 15vw;
}
.redplanet {
	display: flex;
	position: absolute;
	height: 10vh;
	width: 10vw;
	z-index: 5;
	top: 25vh;
	right: 7vw;
}
.moon {
	display: flex;
	position: absolute;
	height: 15vh;
	width: 15vw;
	z-index: 5;
	top: 10vh;
	right: 10vw;


}
.neptune a{
	height: 15vh;
	width: 15vw;


}
.top {
	position: absolute;
	left: 5vw;
	width: 92vw;
	height: 4vh;
	background-image: url('/images/chains.gif');
	z-index: 2;
	background-repeat: repeat-x;
	display: flex;
	top: 0;
}
#gitA {
	text-decoration: none;
	display: inline;
	height: 10vh;
	width: 10vw;
	z-index: 150;
	top: 30vh;
	left: 12vw;
	position: absolute;
}
#github {
	height: auto;
	width: auto;
	font-size: 5vw;
	z-index: 12;

}
#hellokitty {
	height: 5vh;
	width: 25vw;
	z-index: 10;
	display: flex;
	position: absolute;
	margin-top: 5vh;
	margin-left: 5vw;
}


#spiderman {
	height: 5vh;
	width: 25vw;
	z-index: 10;
	display: flex;
	position: absolute;
	margin-left: 5vw;
	margin-top: 5vh;
}

.stamps {
	position: absolute;
	margin-left: 7vw;
	margin-top: 37vh;
	display: grid;
	grid-template: 10vw 10vw;
}
.stamps img{
	margin-right: 5vw;
	width: 5vw;
	height: 5vh;
}


#innerNav {
	z-index: 8;
	background-color: hsl(356.6,100%,93.1%, 0.55);
	width: 18vw;
	height: 100%;
	margin-top:18vh;
	color: black;
	border-radius: 10px 10px 0 0;
        box-shadow: 0px 0px 15px black;
	margin-left: 5.75vw;
	position: absolute;
}

#innerNav p {
	font-size: 0.75rem;
	margin-left: 1vw;
	margin-right: 1vw;
}

.nav {
	display: flex;
	position: absolute;
	top: 35vh;
	left: 6vw;
	z-index: 4;
	width: 100vw;
	height: 60vh;
}
.nav h1{
	width: 100%;
	position: absolute;
	font-size: 1.25rem;
	text-align: center;
	margin-top: -2vh;
	background: linear-gradient(90deg, rgba(227, 128, 128, 1) 0%, rgba(226, 125, 125, 1) 42%, rgba(159, 10, 28, 1) 96%);
	border-radius: 10px 10px 0 0;
    	box-shadow: 0px 0px 15px black;
}
#checker, #checker2{
	background-image: url('https://isntreal.neocities.org/backgrounds/t01-bg-checked.gif');
	background-repeat: repeat;
	height: 82vh;
	width: 26vw;;
	position: absolute;
	border-radius: 10px 10px 0 0;
    	box-shadow: 0px 0px 15px black;
}
#checker {
	top: 5vh;
	margin-left: 2vw;
}
#checker2 {
	margin-top: 5vh;
	left: 60vw;

}
.pika {
	display: flex;
	position: absolute;
	left: 40vw;
	top: 220vh;
}


#title1 {
	top: 110vh;
	left: 40vw;

}
#title2 {
	top: 200vh;
	left: 37vw;
}
#slushPlaylist{
	top: 310vh;



}


.walls{
	display: flex;
	justify-content: space-between;
	position: absolute;
	height: 320vh;
	width: 100vw;
	z-index: 2;
	left: 0;
	top: 0;
}
#wall1, #wall2 {
	background-repeat: repeat;
	height: 400vh;
	width: 4.5vw;
}

#wall1 {
	background-image: url('/images/bday/left_wall.png');

}

#wall2 {
	background-image: url('/images/bday/rightwall.png');
	
}


.dragonvibe {
	display: flex;
	position: absolute;
	top: 90vh;
	height: 17vh;
	
	width: 100vw;
}
.dragonvibe img {
	width: 90vw;
}
.rainbow {
	display: flex;
	position: absolute;
	top: 18vh;
	height: 10vh;
	left: 25vw;
	width: 25vw;
}



.background {
	width: 100vw;
	top: -5vh;
	left: 0;
	position: absolute;
	display: flex;
	height: 155vh;
	background-image: url('/images/backstar.gif');
	background-repeat: repeat;
}
.background2 {
	width: 100vw;
	height: 250vh;
	background-image: url('/images/bg3.gif');
	background-repeat: repeat;
	display: flex;
	position: absolute;
	top: 150vh;
	left: 0;

}
.star {
	height: 7vh;
	width: 7vw;
	left: 61vw;
	top: 59vh;
	display: flex;
	position: absolute;
}

.dragons {
	display: flex;
	position: absolute;
	}
@keyframes rotateAnimation {

  0% {

    transform: rotateX(0deg) rotateY(0deg);

  }

  5% {

    transform: rotateX(5deg) rotateY(18deg);

  }

  10% {

    transform: rotateX(10deg) rotateY(36deg);

  }

  15% {

    transform: rotateX(15deg) rotateY(54deg);

  }

  20% {

    transform: rotateX(20deg) rotateY(72deg);

  }

  25% {

    transform: rotateX(25deg) rotateY(90deg);

  }

  30% {

    transform: rotateX(30deg) rotateY(108deg);

  }

  35% {

    transform: rotateX(35deg) rotateY(126deg);

  }

  40% {

    transform: rotateX(40deg) rotateY(144deg);

  }

  45% {

    transform: rotateX(45deg) rotateY(162deg); 

  }

  50% {

    transform: rotateX(50deg) rotateY(180deg); 

  }
  55% {

    transform: rotateX(45deg) rotateY(198deg); 

  }
  60% {

    transform: rotateX(40deg) rotateY(216deg); 

  }
  65% {

    transform: rotateX(35deg) rotateY(234deg); 

  }
  70% {

    transform: rotateX(30deg) rotateY(252deg);

  }
  75% {

    transform: rotateX(25deg) rotateY(270deg); 

  }
  80% {

    transform: rotateX(20deg) rotateY(288deg); 

  }
  85% {

    transform: rotateX(15deg) rotateY(306deg); 

  }
  90% {

    transform: rotateX(10deg) rotateY(324deg); 

  }
  95% {

    transform: rotateX(5deg) rotateY(342deg); 

  }
  100% {

    transform: rotateX(0deg) rotateY(360deg); 

  }


}



.house {
    left: 400px; /* Fallback */
    left: 40vw;
    top: 850px; /* Fallback */
    top: 85vh;
    width: 250px; /* Fallback */
    width: 25vw;
    height: 250px; /* Fallback */
    height: 25vh;
}

#logo2 {
    -webkit-animation: rotateAnimation 1.25s linear infinite;
    -moz-animation: rotateAnimation 1.25s linear infinite;
    animation: rotateAnimation 1.25s linear infinite;
    
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.alert{
  position: fixed;
  z-index: 10000;
  margin-top: 5%;
  display: flex;
  left: 20vw;
}
#innerAlert{
  width: 65vw;
  height: 65vh;
  background-color: #1e1e2e;
  display: flex;
  flex-direction: column;
}
.closeAlert {
  margin-right: auto;
  font-weight: bold;
  font-size: 1.5vw;
  cursor: pointer;
  width: 2.5%;
  padding: 2%;
}
#alertContentContainer{
  display: flex;
}
.alertImgContainer{
 width: 60vw;
 margin-left: 5%;
 display: grid;
 grid-template-columns: auto auto;
 gap: 2%;
}

.alertTextContainer{
  width: 25%;
  justify-content: center;
  display: flex;
}

#alertImage{
  width: 100%;
  height: auto;
}
#alertText1{
  display: flex;
  font-size: 2.5vw;
  margin-top: 20vh;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
}
#alertText2{
  display: flex;
  justify-content: left;
  font-size: 1.5vw;
  text-decoration: underline;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
}
.bio{
  display: flex;
  position: absolute;
  top: 75vh;
  width: 100%;
  left: 33vw;
}

#bioText{
 color: white;
 text-align: center;
 left: 45vw;
}
.videoContainer{
 display: flex;
 justify-content: center;
 position: relative;
 left: 25%;
 margin-top: 5%;
 margin-bottom: 45%;
}
#videoContent{
 width: 100%;
}
#videoContent iframe{
 width: 50%;
 height: 350%;
}


body {
  color: white;
  justify-content: center;
  align-items: center;
  margin: 0px;
  font-family: "Roboto";
  overflow-x: hidden;
  
}


#navContainer{
  position: absolute;
  top: 57vh;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 7%;
  box-sizing: border-box;
  z-index: 4;
  left: 5vw;
}
#navBar {
  width: 20%;
  padding: 0.25%;
  text-align: center;
}

#navTable {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 0.95vw;
  font-family: "Roboto";
}
#navTable li{
  display: inline;
  margin: 1%;
}
#navSocials {
  gap: 0.5%;
  width: 20%;
  height: 20%;
  margin-right: 16vw;
  margin-top: -60vh;
}

.topLogo {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;

}
#logo, #logo2{
  position: absolute;
  width: 30%;
  height: auto;
  
  left: 35vw;
  overflow-x: hidden;
}
#logo2 {
  top: 35vh;
  animation: rotateAnimation 1.25s linear infinite;
  transform-style: preserve-3d;
  
  
}
#socialIcon {
  width: auto;
  height: auto;
  font-size: 1.75vw;
}

#navSocials a {
  display: inline;
  text-decoration: none;
}

#navTable a {
  color: white;
  text-align: center;
  text-decoration: none;
}

#songs-list {
  display: grid;
  gap: 0.1%;
  grid-template-columns: 15vw 15vw 15vw 15vw 15vw;
  justify-content: center;
  left: 10vw;
  z-index: 5;
  position: absolute;
  top: 125vh;
}

.song{
  max-width: 100%;
  text-align: center;
  justify-content: center;
}
.songImg{
  width: 50%;
  height: auto;
  margin-top: 1%;
}
#slushPlaylist {
  width: 50%;
  display: flex;
  position: absolute;
  animation: scroll 120s linear infinite;
  left: 6vw;
  right: 6vw;
}
.playlistElement {
	width: 20vw;
	height: 10vh;
	max-height: 10vh;
}
#songs-list h1{
	top: 220vh;
	left: 30vw;
	
}
h1 {
	position: absolute;
}
@keyframes scroll {
 0% {
	 transform: translateX(0);
 } 100% {
	transform: translateX(-100%);
 }
}
.playlistElement {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
}
.playlistElement p {
 text-align: center;
}




